* {
  font-family: "Ubuntu", Arial, serif;
  box-sizing: border-box;
}

body {
  height: 200vh;
  margin: 0px;
  display: grid;
  grid-template-rows: 140px 1fr 150px;
  grid-template-columns: 1fr;
  grid-template-areas: 
      "cabecalho"
      "principal"
      "rodape";
}

.cabecalho {
  grid-area: cabecalho;
  /* background: linear-gradient(to bottom, #0D400B, #197316); */
  background-image: url('../img/banner.png');
  background-size: cover; 
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}


.principal {
  grid-area: principal;
  height: calc(200vh - 180px);
  background-color: #f9f1e1;
  padding-top: 0;
  padding-bottom: 20px;
}

.conteudo {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #a8a092;
  padding: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
  grid-area: rodape;
  background: linear-gradient(to top, #0D400B, #197316);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  padding-right: 50px;
  color: #ffffff;
}

.modulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modulo {
  flex-basis: 32%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.modulo > h3 {
  margin: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #1867c0;
}

.modulo > ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.modulo > ul > li {
  padding: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

.modulo > ul > li > a {
  display: flex;
  text-decoration: none;
  color: #222;
}

.modulo > ul > li:hover {
  background-color: #EEE;
}
/* teste */
/* .modulo.verde { border: 2px solid #4CAF50; }
.modulo.verde > h3 { background-color: #4CAF50; }

.modulo.vermelho { border: 2px solid #F44336; }
.modulo.vermelho > h3 { background-color: #F44336; }

.modulo.azul { border: 2px solid #2196F3; }
.modulo.azul > h3 { background-color: #2196F3; }

.modulo.roxo { border: 2px solid #9C27B0; }
.modulo.roxo > h3 { background-color: #9C27B0; }

.modulo.laranja { border: 2px solid #cba976; }
.modulo.laranja > h3 { background-color: #67512f; }

.modulo.verde-escuro { border: 2px solid #1B5E20; }
.modulo.verde-escuro > h3 { background-color: #1B5E20; }

.modulo.vermelho-escuro { border: 2px solid #B71C1C; }
.modulo.vermelho-escuro > h3 { background-color: #B71C1C; }

.modulo.azul-escuro { border: 2px solid #0D47A1; }
.modulo.azul-escuro > h3 { background-color: #0D47A1; }

.modulo.roxo-escuro { border: 2px solid #4A148C; }
.modulo.roxo-escuro > h3 { background-color: #4A148C; }


.modulo.veverde { border: 2px solid #4bf7d5; }
.modulo.veverde > h3 { background-color: #4bf7d5; } */

p.divisao {
  margin-bottom: 0px;
  font-weight: bold;
}

hr {
  margin-top: 0px;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: "Ubuntu", Arial, serif;
 padding: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.nome-direita {
  text-align: right;
  color: #ffffff;
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
